<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 2611721012483168;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  
	<h1><%= data.booking_ref %></h1>

  

  <form id="form" method="post" action="https://eyeofeagle.herokuapp.com/pagodas_update/">
  
 <div class="form-group">
    <label for="name">Where do you want to go</label>
    <select class="form-control" name="pagodas_trip" id="pagodas_trip"  value="<%= data.pagodas_trip %>">
      <option value="shwedagon-sule-kyaut taw gyi">shwedagon-sule-kyaut taw gyi</option>
      <option value="Ngar Htet Kyi-Yay ll Kyout Tan-Koe Htet Kyi">Ngar Htet Kyi-Yay ll Kyout Tan-Koe Htet Kyi</option>
      <option value="Nee Payr-Kan Taw Pwit-Kyi Aung Chan Tar">Nee Payr-Kan Taw Pwit-Kyi Aung Chan Tar</option>
      
    </select> 
  </div>

  <div class="form-group">
    <label for="name">Choose your Transportation what you like</label>
    <select class="form-control" name="transportation" id="transportation"  value="<%= data.transportation %>">
      <option>12 seat minibus</option>
      <option>10 seat</option>
      <option>4 seat</option>

     </select> 
  </div>

   <h2>Restaurants</h2>

  <div class="form-group">
    <label for="name">Breakfast</label>
    <select class="form-control" name="breakfast" id="breakfast"  value="<%= data.breakfast %>">
      <option>Shwepalin</option>
      <option>Maung Aye</option>
      <option>Tone Pan Hla</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Lunch</label>
    <select class="form-control" name="lunch" id="lunch"  value="<%= data.lunch %>">
      <option>Golden Duck</option>
      <option>Indian Kitchen</option>
      <option>Sein Sweli</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Dinner</label>
    <select class="form-control" name="dinner" id="dinner"  value="<%= data.dinner %>">
      <option>Shangrila</option>
      <option>Indian Kitchen</option>
      <option>Sein Sweli</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Hotel</label>
    <select class="form-control" name="hotel" id="hotel"  value="<%= data.hotel %>">
      <option>Lotte</option>
      <option>Sedona</option>
      <option>Kan Taw mingalar</option>

     </select> 
  </div>

  <div class="form-group">
    <label for="name">Your name please</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" value="<%= data.name %>">    
  </div>
  <div class="form-group">
    <label for="title">Mobile</label>
    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Title"  value="<%= data.mobile %>" >
  </div>
   <div class="form-group">
    <label for="title">Company</label>
    <input type="text" class="form-control" id="company" name="company" placeholder="1.2......." value="<%= data.company %>">
  </div>
  <div class="form-group">
    <label for="title">E-mail</label>
    <input type="text" class="form-control" id="e_mail" name="e_mail" placeholder="name@gmial.com" value="<%= data.e_mail %>">
  </div>
  <input type="hidden"  id="sender" name="doc_id" value="<%= data.doc_id %>"> 
  <input type="hidden"  id="sender" name="booking_ref" value="<%= data.booking_ref %>">    
  <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
  <input type="submit" value="Confirm Booking"> 
  </form>


	
  <script>
      
   
      const windowShut = () => {
        MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
      }
      
      document.getElementById("form").addEventListener("submit", windowShut);       


     

  </script>

  </body>

</html>