<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body class="w-auto p-3" style="background-color: #E4D824;">
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 2611721012483168;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  
  <h1><%= data.booking_ref %></h1>

  

  <form id="form" method="post" action="https://eyeofeagle.herokuapp.com/traditional_update/">
  
 <div class="form-group">
    <label for="name"> Please, Fill the Trip you want to change</label>
    <input type="text" class="form-control" id="traditional_trip" name="traditional_trip" placeholder=">Shwe Gone Puppet Theatre-Myanmar Culture show-Karaweik palace"  value="<%= data.traditional_trip %>" >
  </div>

  <div class="form-group">
   <label for="name"> Please, Fill the Transportation you want to change</label>
    <input type="text" class="form-control" id="transportation" name="transportation" placeholder="10 seat mini bus"  value="<%= data.transportation %>" >
  </div>

   <h2>Restaurants</h2>

  <div class="form-group">
    <label for="name"> Please, Fill the Restaurant you want to change for breakfast</label>
    <input type="text" class="form-control" id="breakfast" name="breakfast" placeholder="restaurant name"  value="<%= data.breakfast %>" >
  </div>

  <div class="form-group">
     <label for="name"> Please, Fill the Restaurant you want to change for lunch</label>
    <input type="text" class="form-control" id="lunch" name="lunch" placeholder="restaurant name"  value="<%= data.lunch %>" >
  </div>

  <div class="form-group">
     <label for="name"> Please, Fill the Restaurant you want to change for dinner</label>
    <input type="text" class="form-control" id="dinner" name="dinner" placeholder="restaurant name"  value="<%= data.dinner %>" >
  </div>

 <h2>Hotel</h2>
  <div class="form-group">
     <label for="name"> Please, Fill the Hotel you want to change</label>
    <input type="text" class="form-control" id="hotel" name="hotel" placeholder="restaurant name"  value="<%= data.hotel %>" >
  </div>


 <h2>Your information</h2>
  <div class="form-group">
    <label for="name">Your name please</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" value="<%= data.name %>">    
  </div>
  <div class="form-group">
    <label for="title">Mobile</label>
    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Title"  value="<%= data.mobile %>" >
  </div>
   <div class="form-group">
    <label for="title">Company</label>
    <input type="text" class="form-control" id="company" name="company" placeholder="1.2......." value="<%= data.company %>">
  </div>
  <div class="form-group">
    <label for="title">E-mail</label>
    <input type="text" class="form-control" id="e_mail" name="e_mail" placeholder="name@gmial.com" value="<%= data.e_mail %>">
  </div>
   <div class="form-group">
    <label for="title">Arrived Date</label>
    <input type="text" class="form-control" id="arriveddate" name="arriveddate" placeholder="dd/mm/yy" value="<%= data.arriveddate %>">
  </div>
  <div class="form-group">
    <label for="title">Arrived Time</label>
    <input type="text" class="form-control" id="arrivedtime" name="arrivedtime" placeholder="00:00" value="<%= data.arrivedtime %>">
  </div>
  <input type="hidden"  id="sender" name="doc_id" value="<%= data.doc_id %>"> 
  <input type="hidden"  id="sender" name="booking_ref" value="<%= data.booking_ref %>">    
  <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
  <input class="btn btn-primary" type="submit" value="Confirm Booking"> 
  </form>


  
  <script>
      
   
      const windowShut = () => {
        MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
      }
      
      document.getElementById("form").addEventListener("submit", windowShut);       


     

  </script>

  </body>

</html>